// Colour palette
$lavender:  #d8b8f8;
$purple:    #360963;
$sand:      #fff5d2;

// No rounded borders
.dialog-off-canvas-main-canvas * {
  border-radius: 0px;
}

// Override Bootstrap form control glows/shadows
.dialog-off-canvas-main-canvas input:focus, select:focus, textarea:focus {
  border-color: initial !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

// Main site colours
div[role="main"] {
  background: $sand;
}
