// Colour palette
$lavender:  #bc9cdc;
$purple:    #1a0048;
$sand:      #fffcde;

// Global

// No rounded borders
.dialog-off-canvas-main-canvas * {
  border-radius: 0px;
}

// Override Bootstrap form control glows/shadows
.dialog-off-canvas-main-canvas input:focus, select:focus, textarea:focus {
  border-color: initial !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

// Body
body {
  background: $purple;
  margin-top: 0px;
}

// Navbar
#navbar {
  width: auto;
  max-width: none;
  border: none;
  background: $lavender;
  margin-bottom: 45px;

  .menu.menu--main.nav.navbar-nav {
    float: right;
  }
}

#navbar * {
  color: white;
}

// Page
div[role="main"] {
  width: auto;
  background: $sand;

  [role="heading"] {
    background: $purple;
  }

  > .row > section {
    padding: 0% 12%;
  }
}

.page-header {
  border: none;
}

// Footer
.footer.container {
  border: none;
}
