// Colour palette
$lavender:  #ac7cbc;
$purple:    #2a0038;
$sand:      #fffcde;
$gray:      #7c7c7c;

// Global
p {
  text-align: justify;
}

// Links
.dialog-off-canvas-main-canvas a {
  color: $lavender;
}

// Buttons
.dialog-off-canvas-main-canvas button {
  border: 1px solid $gray;
  background-color: $gray;

  &:hover, &:focus,
  .btn:hover, .btn:focus {
    border: 1px solid $lavender;
    outline: none !important;
    background-color: $lavender;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    &:active, .btn:active {
      border: 1px solid $purple;
      background: $purple;
    }
  }
}

// No rounded borders
.dialog-off-canvas-main-canvas * {
  border-radius: 0px;
}

// Override Bootstrap form control glows/shadows
.dialog-off-canvas-main-canvas input:focus, select:focus, textarea:focus {
  border-color: $gray !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

// Body
body {
  background: $purple;
  margin-top: 0px;
}

// Navbar
#navbar {
  width: auto;
  max-width: none;
  border: none;
  background: $lavender;
  margin-bottom: 45px;

  .menu.menu--main.nav.navbar-nav {
    float: right;
  }

  li:hover, li:active {
    background-color: $purple;
  }
}

#navbar * {
  color: white;
}

// Slideshow
#slide {
  width: auto;
}

#slide-profiles h2 {
  font-size: 1.4em;
  margin-bottom: 0px;
  font-weight: normal;
}

#slide-text {
  padding-top: 8vh;
}

#slide-name {
  line-height: 1.2em;
  font-size: 2.5em;
}

#slide-bio {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-right: 3em;
  text-align: justify;
}

#slide-portrait {
  float: right;
  padding: 0px;
  width: initial;
}

// Page
h1.page-header {
  color: $lavender;
}

nav[role="navigation"] > .tabs--primary.nav.nav-tabs a.is-active,
nav[role="navigation"] > .tabs--primary.nav.nav-tabs a:hover {
  background-color: $sand;
  border: 1px solid $sand;
}

div[role="main"] {
  width: auto;
  background: $sand;
  color: $gray;

  [role="heading"] {
    background: $purple;
  }

  > .row > section {
    padding: 0% 10%;
  }
}

.page-header {
  border: none;
}

.content > .field,
.content .paragraph,
.content > blockquote,
.content > nav {
  margin-top: 2em !important;
}

.field.field--name-field-bio table tr {
  height: 2em;

  td:first-child {
    width: 100px !important;
    vertical-align: text-top !important;
  }
}

// Book pages
.content nav > h2 {
  visibility: hidden;
}

.content nav ul {
  border-top: 1px solid $gray;
  padding-top: 1em;
}

#book-nav {
  width: 100%;
  border-top: 1px solid $gray;
  padding: 1em;
}

// Commentaries view
.view-id-commentaries.view-display-id-page_1 {
  padding: 2em 0em;

  .views-row {
    padding-top: 2em;

    .views-field.views-field-title {
      font-size: 1.4em;
    }
  }

  .view-header {
    border-bottom: 1px solid $gray;
  }
}

// Activists view
#activist-result {
  width: 100%;
  padding: 2em 0;
  border-top: 1px solid $gray;
}

#activist-res-txt a {
  font-size: 1.4em;
}

.view-id-activists .pagination.js-pager__items > li {
  a {
    color: $lavender !important;
  }

  &.active a, &.is-active a {
    color: white !important;
    background-color: $lavender !important;
    border-color: $lavender !important;
  }
}

// Footer
.footer.container {
  border: none;
}

#womact-footer {
  text-align: center;
  color: $lavender;
}

/* Responsive */

/* Collapsed nav */
button.navbar-toggle > span {
  background-color: white !important;
}

/* Display sizes */
@media (max-width: 1007px) {

  #slide-portrait {
    float: left;
    margin-bottom: 2em;
  }
}

@media (min-width: 1600px) {

  div[role="main"] > .row > section {
      padding: 0% 22%;
  }
}
